/* customers/register checkbox */

.customer-accepts-marketing {
  float: left;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 9px;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.customer-accepts-marketing:checked {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,.6);
  color: #99a1a7;
}

.customer-accepts-marketing:checked:after {
  content: '\2713';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #000000;
}

.customer-accepts-marketing-text {
  margin-top: -16px;
  margin-left: 20px;
}
